<form id="chatterform">
<div id="chatterbox" style="width:500px;height:700px;margin:0 auto;background-color:#ddd;padding-bottom:2px;">
  
</div>

<input type="text" id="chatter" style="width:492px;margin:0 auto;display:block;" />

</form>
