<section>
<div class="row-fluid">
  <div class="span3">
    <h1>ruby on rails / nginx + unicorn * bootstrap</h1>
    <p>tugowa is an open source project. Find us on github.</p>
  </div>
  <div class="span9">
    <div class="hero-unit">
      <h1>tugowa</h1>
      <p>&nbsp;</p>
      <p>tugowa is introducing a new way to learn on the web: competitively. Compete with friends and strangers while testing your knowledge on any subject. Choose from
      one of our topics or create your own.</p>
    </div>
    <div class="row-fluid">
      <div class="span4">
        <h1>Classroom</h1>
        <p>tugowa integrates perfectly into the classroom, hosted software means you don't have to install anything, and open source means it's free. Just give students a hyperlink and start an engaging review for tomorrow's test.</p>
      </div>
      <div class="span4">
        <h1>some feature</h1>
        <p>some description</p>
      </div>
      <div class="span4">
        <h1>some feature</h1>
        <p>some description</p>
      </div>
    </div>
  </div>
</div>
</section>
